{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Document</title>
</head>

<body>
    <nav>
        <h1>test 1</h1>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">cal (sum) </h1>
            <p class="lead">This is a bla bla bla</p>
            <hr class="my-4">
            <p>enter two values</p>

            <form id="form1" class="form1"> 
            {% csrf_token %}
                <div class="left_part">
                    <label for="number1">a=</label>
                    <input type="number" name="a" id="a" required>
                </div>
                <div class="right_part">
                    <label for="number2">b=</label>
                    <input type="number" name="b" id="b" required>
                </div>
                <br><br>
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>

            </form>
        </div>
    </div>

    <div class="container mt-4 ans_con" id="ans_con">
        <div class="jumbotron">
            <p class="lead"><span id="ans">0</span> </p>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="{% static 'script.js' %}"></script>

</body>

</html>